@font-face {
	font-family:sourcesans;
	src:url(../../../../fuentes/sourcesans/DaysOne-Regular.ttf); 
}
@font-face {
	font-family:sourcesans-dos;
	src:url(../../../../fuentes/sourcesans/JuliusSansOne-Regular.ttf); 
}
@font-face {
	font-family:sourcesans-tres;
	src:url(../../../../fuentes/sourcesans/TitilliumWeb-Regular.ttf); 
}
@font-face {
	font-family:google-uno;
	src:url(../../../../fuentes/sourcesans/NotoSans-Bold.ttf); 
}
@font-face {
	font-family:google-re;
	src:url(../../../../fuentes/sourcesans/NotoSans-Regular.ttf); 
}

